//  ****************************************************
//
//  COLLECTION OF USEFULL SCSS MIXINS
//
//  Insert only scss mixins, NO css helper classes, ...
// 
//  ****************************************************


// 
//  Prefixing CSS values
//

$default-prefixes: webkit moz ms o;

@mixin prefix-values($property, $value, $prefixes: $default-prefixes) {
	@each $prefix in $prefixes {
		-#{$prefix}-#{$property}: #{$value};
	}
	#{$property}: #{$value};
}


// 
//  Sizing
//

@mixin size($height, $width) {
	width: $width;
	height: $height;
}

@mixin square($size) {
	@include size($size, $size);
}


// 
//  Box sizing
//

@mixin box-sizing($boxmodel) {
	@include prefix-values(box-sizing, $boxmodel);
}