.hotdog {
  display: block;
  background-color: transparen;
  width: 30px;
  position: relative;
  padding: 14px 0;
  span {
    display: block;
    width: 100%;
    height: 3px;
    margin-top: -1px;
    background-color: black;
    transition: opacity 200ms 200ms ease-out;
    
    input:checked + & {
      opacity: 0;
      transition: opacity 200ms 0ms ease-out;
    }
    
    &:first-child {
      transform: rotate(0);
      position: absolute;
      top: 50%;
      margin-top: -8px;
      opacity: 1;
        transition: margin 250ms 350ms ease-out, transform 300ms 0ms ease-out;
      
      input:checked + & {
        opacity: 1;
        transform: rotate(-135deg);
        margin-top: -1px;
        transition: margin 250ms 0ms ease-out, transform 350ms 250ms ease-out;
      }
    }
    &:last-child {
      transform: rotate(0);
      position: absolute;
      top: 50%;
      margin-top: 4px;
      opacity: 1;
        transition: margin 250ms 350ms ease-out, transform 300ms 0ms ease-out;
      
      input:checked + & {
        opacity: 1;
        transform: rotate(135deg);
        margin-top: -1px;
        transition: margin 250ms 0ms ease-out, transform 350ms 250ms ease-out;
      }
    }
  }
}

input {
  display: block;
  position: absolute;
  left: -999em;
}